# django
# djangorestframework
# django-cors-headers
# dj-database-url

# psycopg2
# python-dotenv

# sib-api-v3-sdk-7.6.0
# django-redis-6.0.0


Django==6.0.2
djangorestframework==3.16.1
drf-spectacular==0.27.0
djangorestframework_simplejwt==5.5.1
django-cors-headers==4.9.0
django-redis==6.0.0
dj-database-url==3.1.2
psycopg2==2.9.11

langchain==1.2.10
langchain-community==0.4.1
langchain-core==1.2.13
langchain-google-genai==4.2.1
langchain-groq==1.1.2
langgraph==1.0.8

dj_database_url==3.1.2

pinecone==8.0.1

redis==7.4.0

python-dotenv==1.2.1

pydantic==2.12.5

SQLAlchemy==2.0.46

sib-api-v3-sdk==7.6.0


whitenoise